body {
  background: #f2f2f2;
  width: 96%;
  max-width: 1100px;
  margin: 0 auto;
  border: 1px solid #ddd; }

.logo-slider {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  li {
    height: 40px;
    margin: 10px 20px;
    padding: 0;
    display: inline-block;
    img {
      opacity: .7;
      position: relative; } } }


.logo-slider li:nth-child(1) img { width: 165px !important; top: 10px; }
.logo-slider li:nth-child(2) img { width: 145px !important; top: 0px; left: -4px; }
.logo-slider li:nth-child(3) img { width: 105px !important; top: 0; left: -2px; opacity: .75; }
.logo-slider li:nth-child(4) img { width: 190px !important; top: -2px; }
.logo-slider li:nth-child(5) img { width: 100px !important; top: 10px; }
.logo-slider li:nth-child(6) img { width: 72px  !important; top: 0; opacity: .75; }
