.flexall {display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;}

#g360_logoslider {width:100%;max-width:900px;overflow:hidden;}

#g360_logoslider ul {position:relative;left:0;list-style-type:none;width:auto;}

#g360_logoslider ul.ease {
-webkit-transition: left .6s ease-in-out;
  -moz-transition: left .6s ease-in-out;
  -o-transition: left .6s ease-in-out;
  transition: left .6s ease-in-out;}

#g360_logoslider li {float:left;width:auto;margin:0;padding:5px}

#g360_logoslider li .inner {float:left;width:100%;height:100%;margin:0 ;padding:0;background-color:white;border:1px solid lightgray;}

figure.logo {width:90%;height:auto;}
figure.logo img {width:auto;max-width:100%;}
